
@font-face {
  font-family: SlabSerif;      
  src: url('../fonts/slabserif-400-normal.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: "Bitstream humstslab712 bt roman";      
  src: url('../fonts/bitstream-humstslab712-bt-roman-400-normal.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: "Urw type foundry egyptienneurw lig";      
  src: url('../fonts/urw-type-foundry-egyptienneurw-lig-400-normal.otf') format('otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: "Urw type foundry egyptienneurw lig";      
  src: url('../fonts/urw-type-foundry-egyptienneurw-lig-300-normal.otf') format('otf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: Egyptienne;      
  src: url('../fonts/egyptienne-400-normal.otf') format('otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: Futura;      
  src: url('../fonts/futura-300-normal.otf') format('otf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: FuturaStdBold;      
  src: url('../fonts/futurastdbold-700-normal.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: Futura;      
  src: url('../fonts/futura-400-normal.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: FuturaStdMedium;      
  src: url('../fonts/futurastdmedium-500-normal.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: Futura;      
  src: url('../fonts/futura-700-normal.otf') format('otf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}
